{% extends 'base.html.twig' %}
{% block title %}{{ person.name }}{% endblock %}
{% block body %}
    <div class="content-block"> 
      <div class="text-left">
        <a href="{{ path('person_index') }}">Назад</a>         
    </div> 
     <div class="text-right">
        {{ form_start(delete_form) }}  
        <button class="btn btn-link" type="submit">Видалити</button>
        {{ form_end(delete_form) }}
      </div>
    <h1 class="text-center">Person edit</h1><br>
    {{ form_start(edit_form) }}
    Ім'я
    {{ form_widget(edit_form.name) }} <br>
    Телефон
    {{ form_widget(edit_form.phone) }}<br>
    Офіс
    {{ form_widget(edit_form.office) }}<br>
	Компанія
    {{ form_widget(edit_form.company) }}<br>
     <button type="submit" class="btn btn-default">Зберегти&nbsp;</button>      
    {{ form_end(edit_form) }} <br>
</div> 
{% endblock %}
